@charset "uft-8";

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}
img, video{
    vertical-align: middle;
}

body{
    font-family: "맑은고딕";
    font-size: 15px;
    line-height: 25px;
    color: #000;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


/*header*/
header{
    background-color: rgb(56,56,58);
}
#header_inner{
    width: 1320px;
    margin: 0 auto;
}
#gnb li{
    float: left;
    font-size: 23px;
    font-weight: 500;
    padding-right: 60px;
    transition: all 1s;
    color: #fff;
}
#icon li{
    float: left;
    padding-left: 30px;
}
#logo{
    float:left;
    margin-left: 80px;
    padding-top: 33px;
}
#gnb{
    float: left;
    margin-left: 150px;
    padding-top: 39px;
    padding-bottom: 39px;
    
}
#icon{
    float: right;
    margin-right: 80px;
    padding-top: 39px;
    padding-bottom: 39px;  
}

#gnb li a:hover{
    color: orangered;
}

/*sub3_banner*/
main video{
   width: 100%;
   height: auto;
}

/*programmes*/
.programmes_inner{
    width: 1320px;
    margin: 0 auto;
}
.text{
    text-align: center;
    padding-top: 130px;
}
.title{
    font-size: 52px;
    line-height: 100%;
    padding-bottom: 35px;
}
.description{
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    padding-bottom: 60px;
}

.btn a, .btn1 a{
    background-color: #000;
    padding: 5px 50px;
    border-radius: 35px;
    font-size: 20px;
    color: #fff;
    display: inline-block;
}
.programme1{
    background-image: url(../sub3/Programme1_upcycling_.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 1102px;
    height: 589px;
    width: 100%;
    margin-bottom: 100px;
}
.programme2{
    background-image: url(../sub3/Programme2_public_art_.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 1102px;
    height: 589px;
    width: 100%;
    margin-bottom: 100px;
}
.programme3{
    background-image: url(../sub3/Programme3_VRAR_.png);
    background-repeat: no-repeat;
    background-position: center center;
    width:1102px;
    height: 589px;
    width: 100%;
}
.btn{
    padding-left: 975px;
    padding-top: 400px;
}
.btn1{
    padding-left: 450px;
    padding-top: 400px;
}

.btn a:hover{
    box-shadow: 0 3px #eee;
    top: 3px;
    background-color: #fff;
    color: #000;
}
.btn1 a:hover{
    box-shadow: 0 3px #eee;
    top: 3px;
    background-color: #fff;
    color: #000;
}


/*assistance*/
#assistance_inner{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}
#assistance_inner ul{
    display: flex;
    justify-content: space-between;
    padding-bottom:100px;
}
#assistance_inner h3 span{
    display: inline-block;
    background-color: #000;
    padding: 2px 20px;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    margin-top: 35px;
}
#assistance ul li img:hover{
    animation: hover-flash 3s;
}
@keyframes hover-flash{
    0%{
        opacity: .4;
    }
    100%{
        opacity: 1;
    }
}

/*footer*/
footer{
    background-color: rgb(56,56,58);
}
#footer_inner{
    width: 1320px;
    margin: 0 auto;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}
#footer_inner ul li{
    display: inline-block;
    margin: 0 25px;
}
#footer_inner h3{
    padding-top: 25px;
    font-size: 22px;
    font-weight: 500;
    line-height: 100%;
    padding-bottom: 18px;
}
#footer_inner h4{
    font-size: 18px;
    font-weight: 500;
    padding-bottom:23px;
}
#footer_inner ul li{
    opacity: 0.7;
    border-radius: 50%;
    transition: all 1s;
}
#footer_inner ul li img{
    display: block;  
}
#footer_inner ul li:hover{
    opacity: 1;
    box-shadow: 0 0 15px rgba(255,255,255,0.5);
}

/*back_to_top_scroll_btn*/
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: #FFF;
    background: #000000;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    width: 32px;
    height: 32px;
    border: 0;
    border-radius: 50%;
    display: none;
    cursor: pointer;
    z-index: 9999;
}

.back-to-top:hover {
    background: #000000;
}


